# QC Settings
QC_USER_ID = 
QC_API_KEY = 
PROJECT_ID = 
BASE_URL = 'https://www.quantconnect.com/api/v2/'
ALGO_ID = 

# Google settings
SHEET_URL = 
GSPREAD_API = 
SHEET_NAME = 

# Brokerage Settings
INTERACTIVE_BROKERS_BROKERAGE_ID = 
IBKR_USER_NAME = 
IB_ACC_ID = 
IB_PASSWORD = 
ENVIRONMENT = "live" # Set to 'live' or 'paper'

# DB
POSTGRES = "sqlite:///example.db"