# Dependencies
venv/

# Environment
.env

# Credentials (never commit)
credentials.json

# Database
*.db

# Python artifacts
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store


# Test
test_logs.py
test1.py
test2.py
tv_data.py

test1-logs.json
good_logs.json
final-logs.json

notes.md