# Dependencies
venv/
.venv/

# Environment
.env

# Credentials (never commit)
credentials.json

# Database
*.db

# Python artifacts
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store


# Test
/tests
test_logs.py
test1.py
test2.py
tv_data.py
test6.py
test6-logs.json
test7.py
test8.py
algo-create.json
test9.py
test9-logs.json
test_logs_last.py
test9-parse.py
test9-parse.json

test1-logs.json
good_logs.json
final-logs.json

notes.md

test10.py
test10-logs.json